MANABA_LOGIN_URL=https://manaba.tsukuba.ac.jp/ct/login
MANABA_ASSIGNMENTS_URL=https://manaba.tsukuba.ac.jp/ct/home_library_query

MANABA_ID=
MANABA_PASSWORD=

DEADLINE_ASSIGNMENTS_DISCORD_WEBHOOK_URL=
NEW_ASSIGNMENTS_DISCORD_WEBHOOK_URL=
TODOIST_API_TOKEN=
TODOIST_PROJECT_ID=

NOTIFY_WITHIN_DAYS=3
NOTIFY_EMPTY=true
TIMEZONE=Asia/Tokyo

# CHROME_PATH=/usr/bin/chromium
